@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
body {
  background: #f6f7f8;
  color: #000;
  font-family: "Open Sans";
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #fff;
  margin-top: 0;
  padding-top: 5px;
  box-shadow: 0 4px 56px rgba(0, 0, 0, 0.12);
}
.header .header-line {
  width: 60%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.header .header__bottom-inner {
  width: 60%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.header .header__bottom-inner .menu-link {
  margin-right: 15px;
  height: 100%;
  transition: 0.3s ease;
}
.header .header__bottom-inner .menu-link a {
  border-bottom: none;
  font-size: 15px;
  transition: 0s;
}
.header .header__bottom-inner .menu-link a:hover {
  color: #fcc521;
}

.header .header__inner {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header .header__inner h1 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.header .header__inner h1 span {
  color: #fcc521;
}
.header .header__inner ul {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
}
.header .header__inner ul a {
  margin-left: 15px;
  font-weight: 600;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
  color: #000;
  border-bottom: 2px solid rgba(255, 221, 45, 0.3);
}
a:hover {
  border-color: #ffdd2d;
}

.section {
  width: 60%;
  margin: 0 auto;
  margin-top: 35px;
}

.items-top {
  display: flex;
  justify-content: start;
}
.items-top .item {
  background: #fff;
  width: 250px;
  height: 160px;
  padding: 15px 15px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-right: 20px;
}
.items-top .item p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.items-top .item span {
  color: rgba(0, 0, 0, 0.55);
  margin-top: 0px;
  font-size: 14px;
}
.items-top .item a {
  margin-top: 15px;
  align-self: end;
}

.rounded {
  border: 2px solid rgba(0, 0, 0, 0.05);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6px;
  padding: 5px;
}

.big-p {
  font-size: 20px;
  font-weight: 600;
}
